{{extend 'layout.html'}}
<h1>What is your Choose?</h1>

<form enctype="multipart/form-data"
      action="{{=URL('/FabLab/default/first')}}"method="post" >
  <h1>Source Eagle PartList</h1>
    <input type="file" name="fichier_name"/>
    <input type="submit" />  
</form>




 <form enctype="multipart/form-data"
      action="{{=URL('/FabLab/default/second')}}" method="post">  

<TABLE align="center" BORDER="1"> 
  <CAPTION> Voici le titre du tableau </CAPTION> 
  <TR> 
<TH> Composant </TH> 
 <TH> Rang </TH> 
 <TH> Boitier </TH> 
 <TH> Depot </TH> 
  </TR> 
  <TR> 
 <TD><select name='composant'>
     <option value='{{= composant (request.vars)}}' >{{= composant (request.vars)}}</option>
     </select>  </TD> 
 <TD><select name="Rang_name">
     <option value="rang 1" selected >Rang 1</option> 
          <option value="rang 2" >Rang 2</option>
          <option value="rang 3">Rang 3</option>
          <option value="rang 4">Rang 4</option> 
          <option value="rang 4">Rang 5</option> 
         <option value="rang 4">Rang 6</option> 
         <option value="rang 4">Rang 7</option> 
         <option value="rang 4">Rang 8</option> 
         <option value="rang 4">Rang 9</option> 
         <option value="rang 4">Rang 10</option> 
         <option value="rang 4">Rang 11</option> 
         <option value="rang 4">Rang 12</option> 
         <option value="rang 4">Rang 13</option> 
         <option value="rang 4">Rang 14</option> 
         <option value="rang 21" >Rang 21</option> 
         <option value="rang 22" >Rang 22</option>
         <option value="rang 23">Rang 23</option> 
         <option value="rang 24">Rang 24</option> 
         <option value="rang 25">Rang 25</option> 
         <option value="rang 4">Rang 26</option> 
         <option value="rang 4">Rang 27</option> 
         <option value="rang 4">Rang 28</option> 
         <option value="rang 4">Rang 29</option> 
         <option value="rang 4">Rang 30</option> 
         <option value="rang 4">Rang 31</option> 
         <option value="rang 4">Rang 32</option> 
         <option value="rang 4">Rang 33</option> 
         <option value="rang 4">Rang 34</option> 
        </select>
 </TD> 
 <TD>  <select name="boitier_name">
     <option value="SO08"selected >SO08</option> 
     <option value="SO012" >SO12</option> 
     <option value="SO14">SO14</option>
     <option value="SO16" >SO16</option>
     <option value="SO20">SO20</option>
     <option value="SO24" >SO24</option>
     <option value="SO28" >SO28</option>
     <option value="SOT 23" >SOT 23</option>
     <option value="SOT 89" >SOT 89</option>
     <option value="SOT 143" >SOT 143</option>
     <option value="SOT 194" >SOT 194</option>
     <option value="SOT 223" >SOT 223</option>
     <option value="SOD 80" >SOD 80</option>
     <option value="SOD 87" >SOD 87</option>
     <option value="0402">0402</option>
     <option value="0603">0603</option>
     <option value="0805">0805</option>
     <option value="1206">1206</option>
     <option value="1210">1210</option>
     <option value="1812">1812</option>
     <option value="2220">2220</option>
     <option value="R3216">R3216</option>
   </select> </TD> 
 <TD> <input type="text" name="Depot_name" size=10></TD> 
  </TR> 
</TABLE> 

<input type="submit"/>

{{=BEAUTIFY(request.vars)}}

<input type="button" name="Acceuil" value="Acceuil" onclick="self.location.href='/FabLab'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick>
</form>